.trending {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  gap: 30px;
  place-items: center;
  margin: 0 auto;
  margin-top: 10rem;
}

.trendingTitle {
  text-align: center;
}
